$font-size: 20px;
$button-background-color: green;

.hello-world-button {
  font-size: $font-size;
  padding: 10px;
  color: white;
  outline: none;
  background-color: $button-background-color;
}

.hello-world-text {
  color: greenyellow;
  font-weight: bold;
}
